* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #ffffff;
    font-family: 'Crimson Text', serif;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    color: #ff8cbc;
    text-decoration: none;
}



/* LINKS */

.links {
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: #ff8cbc;
    vertical-align: bottom;
    transition: color .3s ease-out;
 }
 
 .links::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    transition: transform .25s ease-out;
 }
 
 .links:hover { 
    color: #000; 
 }

 .links:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }

.link-discord .link-spigot{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.link-github {
    margin-left: 2%;
    margin-right: 2%;
}



/* TOP PART */

.parent-box {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #2a2a2a;
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
    -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
}

.information {
    padding-top: 4%;
    padding-bottom: 7%;
    text-align: justify;
    font-size: 120%;
    width: 70%;
}

.blitz {
    font-size: 450%;
    font-family: 'B612', sans-serif;;
}



/* PORTOFOLIO */

.portofolio-box {
    margin-top: 2%;
    width: 70%;
    font-size: 120%;
    text-align: left;
}

.projects {
    overflow-x: auto;
    display: flex;

    border-right: solid;
    border-image: linear-gradient(to bottom, #64b3f4 0%, #c2e59c 100%) 1 100%;
    border-width: 2px;

    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    flex: 0 0 auto;
    border-radius: 7px;
    background: #1d1d1d;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.project:hover {
    cursor: pointer;
}

.project:active {
    margin-bottom: 1px;
}

.project-icon {
    background-color: #1a1a1a;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.project-body {
    min-height: 1px;
    padding: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #222;
    flex: 1 1 auto;
}



/* TEXT BOX */

.text {
    width: 75%;
    padding: 3%;
    font-size: 110%;
}




/* BOTTOM LINE */

.contact {
    font-size: 150%;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #101010;
}



/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #363636;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff8cbc;
}