* {
  box-sizing: border-box;
}

body {

  margin: 0;
/*  background-color: #8c8c8c; */
  background-image: url("Images/background.jpg");
/*  background-size: cover;
  background-repeat: no-repeat; */
  
}

#content {
  width: 100%;
  height: auto;
  min-height: 100vh;
}



/*****************************
******************************
		  TEXTBOX
******************************
*****************************/

#textbox {

  font-size: 18px;
  border-radius: 10px;
  border-style: none;
  color: #999999;
  padding: 15px;
  width: 75%;
  margin: auto;
  display: block;
  content: "";
  clear: both;
  display: table;
  background-color: #000;
  min-height: 100vh;
  
}

#list {
  margin-left: 175px;
}

#video {
  width: 60%;
}

#video1,#video2,#video3,#video4,#video5,#video6,#video7,#video8 {

  border-radius: 10px;
  border-style: none;
  width:560px;
  height:315px;
  display: none;
  max-width: 100%;
  max-height: 100%;

}


#myButton1,#myButton2,#myButton3,#myButton4,#myButton5,#myButton6,#myButton7,#myButton8 {
  background-color: #00076f;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 60%;
/*  padding: 10px 30%; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.title {
	
  color: #d9d9d9;
	
}

/*****************************
******************************
		   Gallery
******************************
*****************************/


.gal {

  margin: auto;
	
}

.gallery {

  margin: 5px;
  float: left;
  border-radius: 20%;
  width: 175px;
  height: 119px;
  max-width: 100%;
  max-height: 100%;
  
}

.gallery img {
/*  width: 175px;
  max-width: 175px;
  max-height: 119px;
  height: 119px;*/
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 2px;
}



#gallery2 {

  margin: 5px;
  float: left;
  border-radius: 10%;
  width: 175px;
  height: 119px;
  
}

#gallery2 img {
  width: 175px;
  height: 119px;
  border-radius: 10%;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 2px;
}



.text {

  white-space: nowrap; 
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);	
	
}

.gallery:hover .description,.gallery:active .description,#gallery2:hover .description,#gallery2:active .description{
  width: 100%;
}

.description {
	
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #a6a6a6;
  border-top: 1px solid #fff;
  overflow: hidden;
  width: 0;
  height: 7%;
  transition: .7s ease;
  z-index: 9999;

}

/*****************************
******************************
		   FOOTER
******************************
*****************************/

#bottom {
  color: #fff;
  background: rgba(0,0,0,0.7);
  position: absolute;
  right: 0;
  left: 0;
  display: block;
}



/*****************************
******************************
		Navigation Bar
******************************
*****************************/

#navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: rgba(0,7,111,0.8);
/*  background: rgba(64, 128, 0, 0.8);*/
/*  background: rgba(0,0,0,0.8); */
  position: fixed;
  right: 0;
  height: auto;
  width: 100%;
  top: 0;
  font-size: 14px;
  backdrop-filter: blur(20px);
  backdrop-filter: saturation(180%);
}


li a {
  color: #d9d9d9;
  text-decoration: none;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

li a:hover,li a:active {
  color: #fff;

}



#navbuttoncontact {
	
  float: right;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  margin: 0;
  bottom: 0;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;

}




.navbutton {
  float: left;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
  bottom: 0;
  display: block;
  text-align: center;

}


#dropdown-content {

  position: absolute;
  padding: 0;
  margin: 0;
  top: 100%;
  right: 0;
  height: auto;
  overflow: hidden;
  background: transparent;
  display: none;

}

#dropdown-button-fb,#dropdown-button-em,#dropdown-button-tl {
	
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
  text-align: center;
  list-style-type: none;
  color: #d9d9d9;
  font-size: 17px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
/*  background: rgba(64, 128, 0, 0.8);*/
  background: rgba(0,7,111,0.8);
  display: block;
	
}



.contact {
	
  color: #000;
	
}


#dropdown-button:hover .contact,#dropdown-button:active .contact {

  color: #000;
}



#dropdown-button-fb:hover,#dropdown-button-em:hover,#dropdown-button-tl:hover {

  color: #fff;
  background: rgba(25,31,125,0.8);

}



#dropdown-button-fb:active,#dropdown-button-em:active,#dropdown-button-tl:active {

  color: #fff;
  background: rgba(25,31,125,0.9);

}


/*#navbuttoncontact:hover #dropdown-content,#navbuttoncontact:active #dropdown-content {

  height: auto;
  
}*/


/*****************************
******************************
		  SCROLL BAR
******************************
*****************************/

::-webkit-scrollbar {
  width: 1%;
  background-color: #ffe4f2;
}

::-webkit-scrollbar-thumb{
  background-color: #000663;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00076f;
}



/*****************************
******************************
		  BACKTOTOP
******************************
*****************************/

#backtotop {
  background: rgba(0,7,111,0.8);
  color: RGBA(255, 255, 255, 0.7);
  text-align: center;
  padding: 4px;
  position: fixed;
  bottom: 4%;
  display: none;
  right: 5%;
  cursor: pointer;
  font-size: 11px;
  font-weight: 900;
  z-index: 9999;
  border-radius: 55px;
}


#backtotop:hover {
  background: rgba(0,7,111,1);
  color: RGBA(255, 255, 255, 1);
}

#backtotop:active {
  background: rgba(0,7,111,1);
  color: RGBA(255, 255, 255, 1);
}




/*********************
**********************
 COOKIE CLIKER 
 *********************
 ********************/


/*cookie-div*/

#cookieclicker {
  width: 50%;
  height: 100px;
}

/*upgrades*/

#upgradeone,#upgradetwo,#upgradethree,#upgradefour {
  cursor: pointer;
  text-align: center;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  display: block;
  padding: 3px;
  width: 25%;
  display: inline-block;
  background-image: linear-gradient(to right, #696663, #191919);
}


#upgradeone:active,#upgradetwo:active,#upgradethree:active,#upgradefour:active {
  cursor: pointer;
  text-align: center;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  display: block;
  width: 25%;
  display: inline-block;
}

/*auto clicker*/

#autoclicker {
  cursor: pointer;
  text-align: center;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  display: block;
  background-image: linear-gradient(to right, #464646, #000);
  padding: 2px;
}


#autoclicker:active {
  cursor: pointer;
  text-align: center;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  display: block;
}







/*cookie-image*/

#addcookies {
  background-color: transparent;
  width: 30vh;
  height: 30vh;
  cursor: pointer;
}

#addcookies:active{
  width: 29vh;
  height: 29vh;
}

/*cookies-show*/

#showcookies {
  background-image: linear-gradient(to right, #ffdc73, #ffcf40, #ffbf00, #bf9b30, #a67c00);
  text-align: center;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 5px;
  width: 25%;
  color: #000;
  float: right;
}

/*leave-warning*/

#warning {
  color: #B33A3A;
}



/*game-enter-button*/

#cookieenter {
  text-decoration: none;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #d9d9d9;
  font-size: 30px;
  border: 3px solid #d9d9d9;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
}

#cookieenter:active {
  color: #fff;
  border: 3px solid #fff;
}